body, ul {
	margin: 0px;
}
ol, ul {
	list-style: none;
	padding: 0px;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;

}